<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <h1>About</h1>
    <p>Check out my <a href="/">Home</a> page.</p>
    <p>Check out my <a href="/admin/">Admin</a> page.</p>
    <p>Check out my <a href="/visit-stats/">Visit Stats</a> page.</p>
    <p>This is a simple Django application to manage books and authors.</p>
</body>
</html>